<?xml version="1.0" encoding="UTF-8" ?>
<beans>
<!--    <bean id="userService" class="practice.zhuangzg.springframework.test.bean.UserService">-->
<!--        <property name="uid" value="10001"/>-->
<!--        <property name="userDao" ref="proxyUserDao"/>-->
<!--        <property name="company" value="Alibaba"/>-->
<!--        <property name="location" value="上海"/>-->
<!--    </bean>-->

<!--    <bean id="proxyUserDao" class="practice.zhuangzg.springframework.test.bean.ProxyFactoryBean"/>-->

    <bean class="practice.zhuangzg.springframework.test.event.ContextClosedEventListener"/>

    <bean class="practice.zhuangzg.springframework.test.event.ContextRefreshedEventListener"/>

    <bean class="practice.zhuangzg.springframework.test.event.CustomEventListener"/>
</beans>